body, html {
    padding: 0px;
    margin: 0px;
}
#contentsDiv{
    position:absolute;
    top:750px;
    height:auto;
    width:100%;
}
.weatherInfoDiv {
    width: 250px;
    height: 325px;
    background-color: white;
    box-shadow: .2px .2px .2px 2px lightgray;
    border-radius: 2px;
}
#errorPanel {
    display:none;
}
